body {
  background-color: #222738;
  color: #6e7888;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(20, 40px);
  background-color: #181825;
}

audio {
  background-color: #181825;
  color: #181825;
  margin-top: 50px;
  display: block;
}
#instruction-text {
  position: absolute;
  top: 60%;
  text-align: center;
  text-transform: capitalize;
  width: 300px;
  margin: 0;
  padding: 30px;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score,
#highScore {
  font-size: 60px;
  margin: 0;
}

.highestContainer {
  display: none;
}

.high {
  display: flex;
  justify-content: end;
}

.scoreText {
  font-size: 1.5rem;
  font-weight: 700;
}

.snake {
  background-color: #6e7888;
  color: #7d8796;
}

#logo {
  position: absolute;
  top: 40%;
  width: 300px;
}
